/* src/components/TopBar.css */
.topbar {
  /*ensures proper layering*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 52px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  /* background-color: #555555; */
  /*ensures proper layering*/
  z-index: 9999;
}

.topbar__icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  color: #d0d0d0;
}

.topbar__icon-btn:hover {
  color: #ffffff;
}

.topbar__search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 5px 12px;
  gap: 6px;
}

.topbar__input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 120px;
  background: transparent;
  color: #333;
}