/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*#center {
    display: flex;
    flex-direction: column;
    gap: 25px;
    place-content: center;
    place-items: center;
    flex-grow: 1;
}*/

.App {
    height: 100vh;
    overflow: hidden;
    position: relative;
    touch-action: pan-x;
}

.button, .weirdButton {
    width: 200px;
    height: 40px;
    margin: 4px;
    border: 2px solid darkgrey;
    border-radius: 12px;
    box-shadow: inset 2px 2px 2px #cccccc;
    padding: 0px 6px;
    transition-duration: 0.4s;
    background-color: lightgrey;
    color: darkgrey;
}

.weirdButton {
    position: fixed;
    z-index: 100;
    top: 45vh;
    left: -20px;
    width: 100px;
    height: 8vh;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 99;
    transition: left 0.5s;
}

    .overlay.show {
        left: 0vw
    }

.video-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/*html, body, .container {
    height: 100%;
}*/

/*Used in comment box*/
.container {
    background-color: gray;
    width: 400px;
    height: 100vh;
    color: rgb(31, 16, 16);
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Video section */
.video-section {
    height: 180px;
    background: gray;
    position: relative;
}

.channel {
    font-size: 14px;
    opacity: 0.8;
}

.title {
    font-size: 16px;
}

/* Divider */
.divider {
    height: 4px;
    width: 60px;
    background: #bbb;
    margin: 10px auto;
    border-radius: 2px;
}

/* Comments */
.comments {
    padding: 10px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                buttons              */
.buttonGreen:hover {
    background-color: green; /* Green */
    color: #ffffff; /* changes text color */
}

.buttonRed:hover {
    background-color: red;
    color: #ffffff;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.slider {
    transition: transform 0.5s ease;
    position: relative;
/*    z-index: 1;*/
}

.page {
    height: 100vh;
    width: 100%;
    padding-top: 52px;
    box-sizing: border-box;
}

.choice-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    /*control size instead of stretching */
    width: 90%;
}

.portrait {
    width: 100%;
    aspect-ratio: 9 / 16;
    background: #555555; /*#222 looks good as well maybe with another background*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
}

    .portrait:hover {
        transform: scale(1.02);
        background: #333;
    }

/*    .portrait:active {
        transform: scale(0.98);
    }*/

/* PAGE 2 */
.video-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222;
    color: white;
}